button {
    margin-bottom: 1px;
}

.btn-danger, .btn-primary {
    margin-bottom: 1px !important;
}

.complete  {
    width: 100%;
}

@media only screen and (min-width:560px){
    .complete {
        width: 65%;
    }
}

@media only screen and (min-width:1140px){
    .complete {
        width: 38%;
    }
}

