.btn {
    margin-bottom: 20px;
}

.btn-danger {
    margin-left: 20px;
}

div.custom-button {
    height: 63px;
}

.row {
    background: rgb(230, 230, 230);
    width: 100%;
    margin: 0 auto !important;
    margin-top: 20rem !important;
}

.row h2 {
    text-align: center;
}

@media only screen and (min-width:560px) {

    .row {
        width: 75%;
        margin-top: 20rem !important;
    }
}

@media only screen and (min-width:1140px) {

    .row {
        width: 60%;
        height: 30rem;
    }
}