.post {
    margin: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.post ul {
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.post ul li {
    color: black;
    align-self: flex-start;
    font-size: 20px;
    text-decoration: underline;
}